<!-- start custom head snippets -->

<style>
  {% if page.header.text_color %}
    .page__hero--overlay .page__title,
    .page__hero--overlay .page__meta,
    .page__hero--overlay .page__lead,
    .page__hero--overlay .btn {
      color: {{page.header.text_color}} !important;
    }
  {% endif %}
</style>

<!-- insert favicons. use http://realfavicongenerator.net/ -->

{% if page.use_math %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [],
      displayMath: [],
      processEscapes: false,
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

{% endif %}

<!-- end custom head snippets -->
